@import 'sweetalert2/src/sweetalert2.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {

    padding: 10px;

}

  .form-input{
  width: 280px;
  margin: 30px;
    background-color: aliceblue;
}

.form-button{
    margin-top: 79px;
    
  
    button{
        padding: 10px 50px;
    }
}