<mat-toolbar >
    <button mat-icon-button *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()">
        <mat-icon  *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    
    <button mat-icon-button *ngIf="sidenav.mode === 'over'"  (click)="sidenav.toggle()">
        <mat-icon  *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
</mat-toolbar>
