<div class="d-flex row text-center w-vw-100 position-relative">
    <mat-card class="col m-3 card-Ps">
      <mat-card-content ><h1>Personal</h1>
      <p>{{personal}}</p></mat-card-content>
    </mat-card>
    <mat-card class="col m-3 card-As">
      <mat-card-content ><h1>Asistencias</h1>
      <p>{{asistieron}}</p></mat-card-content>
    </mat-card>
    <mat-card class="col m-3 card-Per" >
      <mat-card-content ><h1>Permisos</h1>
      <p>{{permisos}}</p></mat-card-content>
    </mat-card>
    <mat-card class="col m-3 card-F">
      <mat-card-content>
           
          <h1>Faltaron</h1>
        <p>{{faltaron}}</p>
        
    </mat-card-content>
    </mat-card>
  </div>