@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&family=Roboto+Mono&display=swap');
*{
    font-family: 'Roboto Mono', monospace;

}
.card-F{
    background-color: rgb(212, 13, 13);
    color: white;
}
.card-Per{
    background-color: orange;
    color: white;
}

.card-As{
    background-color: rgb(0, 255, 170);
    color: white;
}
.card-Ps{
    background-color: rgb(43, 70, 157);
    color: white;
        
}