<div class="container sidenav ">
    <div class="logo-container ">
        <button class="button-img" routerLink="/pages/dashboard">
            <img src="../../../assets/Imagen1.png" width="100px" alt="" class="">
        </button>
    </div>
    <ul class="nav-items">
        <li class="nav-items-link" *ngFor="let data of navData">
           <button class="nav-button" [routerLink]="[data.path]">
            <i [class]="data.icon" ></i>
            <span class="text-center">{{data.label}}</span>
           </button>
        </li>

    </ul>
</div>