*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    padding: 10px;
}

.form-data{
    display: flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
}

.action{
    
    
    display: flex;
    gap: 10px;
    button{
        padding: 5px;
    }
}